<header>
	<h1>technoBabble</h1>
	{{> navigation isAuthorized=isAuthorized }}
</header>

<h3>{{post.title}}</h3><p>By: {{post.username}}</p>

{{post.body}}
<hr>
{{#each comments}}
	<h4>By: {{this.username}}</h4>
	<p>{{this.body}}</p>
{{/each}}
<textarea id="postComment" placeholder="Comment"></textarea>
<button id="newCommentSubmit">Add Comment</button>

<script src="../js/handleNewComment.js"></script>