<header>
	<h1>technoBabble</h1>
	{{> navigation isAuthorized=isAuthorized }}
</header>
<br>

{{#each posts}}
	<div>
		{{#if isAuthorized}}
			<a href="dashboardPost/{{this.id}}">{{this.title}}</a> By: {{this.username}}
		{{else}}
			<a href="post/{{this.id}}"></a><a href="post/{{this.id}}">{{this.title}}</a> By: {{this.username}}
		{{/if}}
		<p class="userPost">{{this.body}}</p>
		<hr>
	</div>
{{/each}}